In [12]:
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import os
import psycopg2
warnings.filterwarnings('ignore')

from sqlalchemy import create_engine
from dotenv import load_dotenv

## Load SQL Dataset

In [13]:
# Load data from sql
def load_data(query: str) -> pd.DataFrame:
    # Load environment variables from .env file
    env_path = os.path.join("..", ".env")
    load_dotenv(dotenv_path=env_path)

    # Retrieve database connection parameters
    DB_USER = os.getenv("DB_USER")
    DB_PASSWORD = os.getenv("DB_PASSWORD")
    DB_HOST = os.getenv("DB_HOST")
    DB_PORT = os.getenv("DB_PORT")
    DB_NAME = os.getenv("DB_NAME")

    # Use psycopg2 directly
    conn = psycopg2.connect(
        host=DB_HOST,
        port=DB_PORT,
        database=DB_NAME,
        user=DB_USER,
        password=DB_PASSWORD
    )
    
    try:
        df = pd.read_sql_query(query, conn)
        return df
    finally:
        conn.close()

In [14]:
# List of SQL Queries

query_1 = "SELECT * FROM core.products"
query_2 = "SELECT * FROM core.suppliers"
query_3 = "SELECT * FROM core.inventory_status"
query_4 = "SELECT * FROM core.sales_orders"
query_5 = "SELECT * FROM core.production_metrics"
query_6 = "SELECT * FROM logistics.shipments"
query_7 = "SELECT * FROM inspection.quality_inspections"

In [ ]:
for sql in [query_1, query_2, query_3, query_4, query_5, query_6, query_7]:
    df = load_data(sql)
    print(f"Data from query:\n{df.head(7)}\n")

Data from query:
                             product_id product_type  price  \
0  3c46f06b-2cf6-57f6-ab77-a95f5572071c     haircare  75.56
1  f0ac696f-bfa5-568d-9f2c-9efb539dd5e0     haircare  25.70
2  7aad5c85-6e57-54ec-8ac8-c677bf8e6572     skincare   4.02
3  bebf428c-b5b7-5336-8b72-26dbbbea698c    cosmetics  83.82
4  12b6c108-b2a2-5036-a9d2-5a5dd543fd29    cosmetics   6.49
5  90a36134-8d5f-5d41-bbcf-f8a5df90953b    cosmetics  14.99
6  1a4b47d4-bb70-5bed-8220-d7e0fa012624     skincare  25.83

                  created_at
0 2026-01-23 23:41:56.899722
1 2026-01-23 23:41:56.899722
2 2026-01-23 23:41:56.899722
3 2026-01-23 23:41:56.899722
4 2026-01-23 23:41:56.899722
5 2026-01-23 23:41:56.899722
6 2026-01-23 23:41:56.899722

Data from query:
                            supplier_id supplier_name   location
0  71b82254-e1fd-41f2-b2a6-64c969d36143    Supplier 4     Mumbai
1  22adce34-ca69-4614-9e37-220ab4987b4f    Supplier 1      Delhi
2  a76eef60-491b-4362-9aec-7f55c75403b4    Supplier 1  Bangalore
3  bf5a0472-58b6-4ce3-8b91-763c10c09cdd    Supplier 2  Bangalore
4  41d4c0c9-0bad-440f-83c4-de2058446713    Supplier 3      Delhi
5  50472e9a-f245-497b-b7c0-b0381de65bff    Supplier 3    Chennai
6  2d91903f-c74d-49cb-a443-7cbd483a59a4    Supplier 5      Delhi

Data from query:
                           inventory_id                            product_id  \
0  1020a2b3-ef15-4d9e-b18a-f891b1c29fdd  6af613b6-569c-5c22-9c37-2ed93f31d3af
1  2364baae-d338-4c27-a5a8-b78c988ce439  b04965e6-a9bb-591f-8f8a-1adcb2c8dc39
2  4b723cbf-a724-4e23-b1ff-8ac620222f41  4b166dbe-d99d-5091-abdd-95b83330ed3a
3  d530cff3-340f-414d-adff-b99fe34f0274  98123fde-012f-5ff3-8b50-881449dac91a
4  170a6b33-a7bb-4ad2-982a-e35ef1e33d1a  6ed955c6-506a-5343-9be4-2c0afae02eef
5  1d752d70-3ad6-4b3b-b7a9-645e9dd94b77  c8691da2-158a-5ed6-8537-0e6f140801f2
6  43a3e557-6486-45bf-b0b3-019d29d05efb  a6c4fc8f-6950-51de-a9ae-2c519c465071

   stock_levels  availability recorded_at
0            59            55  2026-01-24
1            58            55  2026-01-24
2            57            55  2026-01-24
3            59            55  2026-01-24
4            57            55  2026-01-24
5            60            55  2026-01-24
6            57            55  2026-01-24

Data from query:
                               sales_id                            product_id  \
0  3c3909d2-c33e-430a-8b7f-1294bd65783b  6af613b6-569c-5c22-9c37-2ed93f31d3af
1  6d62f992-658d-4aa8-827e-3db4adee8209  b04965e6-a9bb-591f-8f8a-1adcb2c8dc39
2  3393613d-bff5-4606-8080-715153fab43a  4b166dbe-d99d-5091-abdd-95b83330ed3a
3  42814918-3ff7-4a31-8b49-83f431354fbd  98123fde-012f-5ff3-8b50-881449dac91a
4  39f2c7d7-e5f2-4074-b317-901c98b9b861  6ed955c6-506a-5343-9be4-2c0afae02eef
5  facf4160-13ed-4093-85a9-80e38d09c831  c8691da2-158a-5ed6-8537-0e6f140801f2
6  c05f3728-7163-47ec-bbf7-e2b93c59351b  a6c4fc8f-6950-51de-a9ae-2c519c465071

   products_sold  revenue_generated  order_date
0            802            8763.76  2026-01-24
1            802            8499.24  2026-01-24
2            802            8633.60  2026-01-24
3            802            8658.39  2026-01-24
4            802            8663.37  2026-01-24
5            802            8677.63  2026-01-24
6            802            8714.87  2026-01-24

Data from query:
                          production_id                            product_id  \
0  69854423-bcdf-40a3-b39d-f361dc79b885  6af613b6-569c-5c22-9c37-2ed93f31d3af
1  0ab742d1-1882-42dd-baec-915b47a40577  b04965e6-a9bb-591f-8f8a-1adcb2c8dc39
2  6e6e4c49-bb09-4578-8bef-97cc08f3b2ba  4b166dbe-d99d-5091-abdd-95b83330ed3a
3  c02aa215-4aaa-4741-be86-aff644c6c456  98123fde-012f-5ff3-8b50-881449dac91a
4  b1973e72-3ca7-46b3-bc03-8b49dd97ef19  6ed955c6-506a-5343-9be4-2c0afae02eef
5  7c33b5b7-e702-424a-893d-537dd81bdcf2  c8691da2-158a-5ed6-8537-0e6f140801f2
6  cf602eb8-d1ad-4a84-a805-17d109c7126f  a6c4fc8f-6950-51de-a9ae-2c519c465071

   production_volumes  manufacturing_cost  manufacturing_lead_time recorded_at
0                 214               43.47                       29  2026-01-24
1                 213               51.33                       29  2026-01-24
2                 213               47.13                       29  2026-01-24
3                 213               53.95                       29  2026-01-24
4                 216               40.76                       29  2026-01-24
5                 213               45.55                       29  2026-01-24
6                 217               48.10                       29  2026-01-24

Data from query:
                            shipment_id                            product_id  \
0  b9e6da6d-870f-4e07-bab8-6d4f80014f6a  6af613b6-569c-5c22-9c37-2ed93f31d3af
1  7713b6ab-6a2f-4af0-bc35-4ec0490d482d  6af613b6-569c-5c22-9c37-2ed93f31d3af
2  5b919545-1a6c-44a0-a860-b17becb61a10  6af613b6-569c-5c22-9c37-2ed93f31d3af
3  cc6fe99c-1c5f-429d-bc1b-32dac0dd80ef  6af613b6-569c-5c22-9c37-2ed93f31d3af
4  32bedf06-460d-426f-9e50-edfa55477718  6af613b6-569c-5c22-9c37-2ed93f31d3af
5  76ca8527-35b6-4b6e-82a5-ac1516853d14  b04965e6-a9bb-591f-8f8a-1adcb2c8dc39
6  0b860050-e195-48a3-9eb8-3b6f4164d71a  b04965e6-a9bb-591f-8f8a-1adcb2c8dc39

                            supplier_id shipping_carrier transportation_mode  \
0  c17fc11e-91da-476f-bd7a-741693381136        Carrier B                Road
1  9c1b1209-2cf8-4019-b77a-5181be7cd227        Carrier B                Road
2  7650731a-4c80-4e01-95a2-ae10fd2fe64c        Carrier B                Road
3  50472e9a-f245-497b-b7c0-b0381de65bff        Carrier B                Road
4  41d4c0c9-0bad-440f-83c4-de2058446713        Carrier B                Road
5  c17fc11e-91da-476f-bd7a-741693381136        Carrier B                Road
6  9c1b1209-2cf8-4019-b77a-5181be7cd227        Carrier B                Road

     route  shipping_cost  total_cost  shipping_time  shipped_at
0  Route B           2.60      188.68              6  2026-01-24
1  Route B           2.60      188.68              6  2026-01-24
2  Route B           2.60      188.68              6  2026-01-24
3  Route B           2.60      188.68              6  2026-01-24
4  Route B           2.60      188.68              6  2026-01-24
5  Route B           3.22      187.49              3  2026-01-24
6  Route B           3.22      187.49              3  2026-01-24

Data from query:
                          inspection_id                            product_id  \
0  5c5d9527-ff35-4f01-82b0-6ec18408fcab  6af613b6-569c-5c22-9c37-2ed93f31d3af
1  2c8b165d-953e-47b2-8d37-c544e47887f9  b04965e6-a9bb-591f-8f8a-1adcb2c8dc39
2  541ed891-ba56-4331-bca9-fa92cb4d2325  4b166dbe-d99d-5091-abdd-95b83330ed3a
3  34c60118-eb2c-4ea3-b04d-390ffb399bb2  98123fde-012f-5ff3-8b50-881449dac91a
4  4ac8ab96-1f23-4e7c-b6af-6c865795c1a2  6ed955c6-506a-5343-9be4-2c0afae02eef
5  83fda72d-d8a6-4556-b5e2-a3dabba039ed  c8691da2-158a-5ed6-8537-0e6f140801f2
6  afd90404-2653-4c80-86de-52782796decc  a6c4fc8f-6950-51de-a9ae-2c519c465071

  inspection_result  defect_rate  lead_time inspected_at
0           Pending     0.224447         29   2026-01-24
1           Pending     0.226086         29   2026-01-24
2           Pending     0.231951         29   2026-01-24
3           Pending     0.233616         29   2026-01-24
4           Pending     0.221073         29   2026-01-24
5           Pending     0.220594         29   2026-01-24
6           Pending     0.229432         29   2026-01-24

## Use sql query 2 and 3 to analyze first

In [25]:
df_products = load_data(query_1)
df_inventory = load_data(query_3)

In [26]:
df_products

,product_id,product_type,price,created_at
0,3c46f06b-2cf6-57f6-ab77-a95f5572071c,haircare,75.56,2026-01-23 23:41:56.899722
1,f0ac696f-bfa5-568d-9f2c-9efb539dd5e0,haircare,25.70,2026-01-23 23:41:56.899722
2,7aad5c85-6e57-54ec-8ac8-c677bf8e6572,skincare,4.02,2026-01-23 23:41:56.899722
3,bebf428c-b5b7-5336-8b72-26dbbbea698c,cosmetics,83.82,2026-01-23 23:41:56.899722
4,12b6c108-b2a2-5036-a9d2-5a5dd543fd29,cosmetics,6.49,2026-01-23 23:41:56.899722
...,...,...,...,...
3995,519e2ca1-5408-50d0-b1a7-1915595eb9a5,cosmetics,87.44,2026-01-23 23:41:56.899722
3996,fc2a25b1-2b10-50d5-ae13-bdd8f42760c7,haircare,8.60,2026-01-23 23:41:56.899722
3997,40d16c23-e81a-5cf5-abd6-7c1fe3ddb68d,haircare,76.07,2026-01-23 23:41:56.899722
3998,94676570-e8c7-5dbd-b319-9e88f9adb13c,haircare,27.50,2026-01-23 23:41:56.899722
3999,a6224551-1b39-55a1-8793-cf2564a9b898,cosmetics,98.29,2026-01-23 23:41:56.899722

In [24]:
df_inventory

,inventory_id,product_id,stock_levels,availability,recorded_at
0,1020a2b3-ef15-4d9e-b18a-f891b1c29fdd,6af613b6-569c-5c22-9c37-2ed93f31d3af,59,55,2026-01-24
1,2364baae-d338-4c27-a5a8-b78c988ce439,b04965e6-a9bb-591f-8f8a-1adcb2c8dc39,58,55,2026-01-24
2,4b723cbf-a724-4e23-b1ff-8ac620222f41,4b166dbe-d99d-5091-abdd-95b83330ed3a,57,55,2026-01-24
3,d530cff3-340f-414d-adff-b99fe34f0274,98123fde-012f-5ff3-8b50-881449dac91a,59,55,2026-01-24
4,170a6b33-a7bb-4ad2-982a-e35ef1e33d1a,6ed955c6-506a-5343-9be4-2c0afae02eef,57,55,2026-01-24
...,...,...,...,...,...
3995,10b71bc5-e28a-4d9c-a2da-8a60d1cd9cf7,cffa2ef3-f40d-5743-ba4d-a3bcd62ef442,56,17,2026-01-24
3996,d29b6150-c59b-4e60-823b-c03e23ee39b5,0f4cae71-8c81-5617-8d7f-02944fe4260f,54,17,2026-01-24
3997,631cae12-0bf4-494c-9715-1c68e2c610f4,a6f22ed6-84b6-5999-96be-28b6cc8f23f7,55,17,2026-01-24
3998,2aae1241-6c54-462e-b7a0-8e90cf6b0171,2b534cc0-95d8-5fc1-a6fc-6c6e8d6e8166,54,17,2026-01-24
3999,844124f2-c452-4f06-af14-b9280a559bf4,b0f623c8-bf1d-5274-a38e-537c02c23511,56,17,2026-01-24